<!-- <ion-header> -->

<!-- </ion-header> -->
<!-- <ion-content [ngStyle]="{'background': 'url(../assets/bg/1.png) no-repeat center center / cover'}"> -->
<!-- <ion-content style="background-color: #F4E3E3;background-image: url('../assets/bg/1.png');"> -->
  <ion-content style="background-color: #F4E3E3;">  

    <div class="main-container">
    
    <ion-grid >
    <ion-row >
            <ion-col size="12" size-md style="margin-top: 32px;text-align: center;">
           <img src="../assets/bg/unnamed.png" style="margin-left: 20px;">
            </ion-col>
          </ion-row>
    </ion-grid>
    
    <ion-grid style="margin-top: 15px;padding-left:20px;padding-right:28px; ">
          
          <ion-row style="margin-bottom: 20px;">
            <ion-col size="6" size-lg  >
           <div>
              <button class="btn1 bg_color1" (click)="signInpage()">Am new</button>
           </div>
    
            </ion-col>
            <ion-col size="3" size-lg >
                     <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-top: 30px; " src="../assets/bg/pawprint-1.svg">
                   </ion-col>
                    <ion-col size="3" size-lg > 
           <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-top: 20px;margin-left: 20px; " src="../assets/bg/pawprint-1.svg">
            </ion-col>
          </ion-row>
    
    
    
          <ion-row>
            <ion-col size="3" size-lg >
             <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-top: 18px;margin-left: -18px; " src="../assets/bg/pawprint-1.svg">
           </ion-col>
             <ion-col size="3" size-lg >
           <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-top: 40px;" src="../assets/bg/pawprint-1.svg">
         </ion-col>
            <ion-col size="6" size-lg >
              
               <div >
              <button class="btn2 bg_color2" (click)="gotologin()">Have been here</button>
              </div> 
            </ion-col>
          </ion-row>
    
    <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-top: 82px;margin-left: -8px;" src="../assets/bg/pawprint-1.svg">
    
    </ion-grid>
    
    </div>
    
    </ion-content>