<!-- <ion-header> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- </ion-header> -->
<!-- <ion-content [ngStyle]="{'background': 'url(../assets/bg/4_1.jpg) no-repeat center center / cover'}"> -->
<ion-content style="background-color: #f4e3e3; background-image: url(../assets/bg/pk.png);">
    <div class="main-container">
        <!-- <i class="fa fa-chevron-left" style="color:#2F3542;font-size:28px;-webkit-text-stroke: 1.5px #F3E4E2;"></i> -->
        <img src="../assets/bg/Icon feather-chevron-left.svg" [routerLink]="['/login-pin']" />
        <ion-grid>
            <ion-row class="main-container-height">
                <ion-col size="12" size-md style="text-align: center;">
                    <label style="
                color: #2f3542;
                font-size: 16px;
                font-family: 'Segoe UI';
                font-style: normal;
              "><b>Forget Password</b></label>
                </ion-col>
            </ion-row>
            <ion-row class="first-radio-text">
                <ion-col size="12" size-md>
                    <label style="
                color: #2f3542;
                font-size: 16px;
                font-family: 'Segoe UI';
                font-style: normal;
              " class="redio_container"><input type="radio" checked="checked" name="radio"
                            (click)="otpType('mobilenumber')" /><span class="checkmark" ></span><b> Please enter your
                            Phone no</b></label>
                </ion-col>
            </ion-row>
            <div *ngIf="otpObj.type == 'mobilenumber'">
                <ion-row style="margin-top: -8px; margin-left: -6px;">
                    <ion-col size="2" size-md style="margin-left: -2px;">
                        <ion-select  class="form-control phone-code" [(ngModel)]="otpObj.countryCode">
                            <ion-select-option *ngFor="let list of countryList">{{list.code}}</ion-select-option>
                          </ion-select>
                    </ion-col>
                    <ion-col size="7" size-md style="margin-left: -10px;">
                        <input type="tel" name="" class="form-control phone-no" placeholder="Phone no"
                            [(ngModel)]="otpObj.number" (focusout)="checkMobile()" />
                    </ion-col>
                    <ion-col size="3" size-md style="margin-left: -2px;">
                        <input type="tel" name="" class="form-control otp-width" placeholder="OTP" maxlength="4"
                            [disabled]="showOtp" [(ngModel)]="otpObj.mobileOTP"
                            (keyup)="otpObj.mobileOTP.length == 4 && verifyOTP('mobile')" />
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="resend">
                    <ion-col size="12" size-md style="text-align: right;">
                        <label style="
                    color: #2f3542;
                    font-size: 14px;
                    font-family: 'Segoe UI';
                    font-style: normal;
                    margin-right: 10px;
                    text-decoration: underline;
                    text-underline-position: under;
                  "><u (click)="sendOTP()">Resend OTP</u></label>
                    </ion-col>
                </ion-row>

                <ion-row style="margin-top: -2px; margin-left: -6px;" *ngIf="showAns">
                    <ion-col size="12" size-md><b>{{otpObj.secretQuestion}}?</b>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-left: -6px;" *ngIf="showAns">
                    <ion-col size="12" size-md>
                        <input type="" name="" class="form-control security-question" placeholder="Answer"
                            [(ngModel)]="otpObj.secretAns" (focusout)="verifyANS('1')" />
                    </ion-col>
                </ion-row>
            </div>
            <ion-row class="second-radio-text">
                <ion-col size="12" size-md>
                    <label style="
                color: #2f3542;
                font-size: 16px;
                font-family: 'Segoe UI';
                font-style: normal;
                white-space: nowrap;
              " class="redio_container">
                        <input type="radio" name="radio" (click)="otpType('email')"/><span  class="checkmark"></span>
                        <b>Please enter your Email address</b></label>
                    <img src="../../assets/pk.png" class="first-foot1"
                        style="top: 60px; position: absolute; z-index: 0;" />
                    <img src="../../assets/pk.png" class="second-foot2" style="
                top: -5px;
                position: absolute;
                z-index: 0;
                margin-left: 280px;
              " />
                </ion-col>
            </ion-row>
            <div *ngIf="otpObj.type == 'email'">


                <ion-row style="margin-top: -10px; margin-left: -5px;">
                    <ion-col size="9" size-md>
                        <input type="" name="" class="form-control email" placeholder="Email" [(ngModel)]="otpObj.email"
                            (focusout)="sendOTP()" />
                    </ion-col>
                    <ion-col size="3" size-md style="margin-left: -11px;">
                        <input type="tel" name="" class="form-control otp-width-second" placeholder="OTP" maxlength="4"
                            [disabled]="showOtp" [(ngModel)]="otpObj.emailOTP"
                            (keyup)="otpObj.emailOTP.length == 4 && verifyOTP('email')" />
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -5px;" *ngIf="resend">
                    <ion-col size="12" size-md style="text-align: right;">
                        <label style="
                    color: #2f3542;
                    font-size: 14px;
                    font-family: 'Segoe UI';
                    font-style: normal;
                    margin-right: 10px;
                    text-decoration: underline;
                    text-underline-position: under;
                  "><u (click)="sendOTP()">Resend OTP</u></label>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -2px; margin-left: -6px;" *ngIf="showAns">
                    <ion-col size="12" size-md><b>{{otpObj.secretQuestion2}}?</b>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-left: -6px;" *ngIf="showAns">
                    <ion-col size="12" size-md>
                        <input type="" name="" class="form-control security-question" placeholder="Answer"
                            [(ngModel)]="otpObj.secretAns2" (focusout)="verifyANS('2')" />
                    </ion-col>
                </ion-row>
            </div>
            <ion-row class="forward-icon">
                <ion-col size="12" size-md style="text-align: center;">
                    <!-- <button type="button" class="btn btn-primary" ><i class="fa fa-chevron-right" style="font-size:26px;-webkit-text-stroke: 1.5px #FA9AA7;"></i></button>  -->
                    <a aria-disabled="true"><img src="../assets/bg/Group 264.svg" (click)="goNext()" /></a>
                </ion-col>
            </ion-row>


            <!-- <img src="../../assets/pk.png" class="first-foot" />
        <img src="../../assets/pk.png" class="second-foot" /> -->
        </ion-grid>
    </div>
</ion-content>