<!-- <ion-header> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- </ion-header> -->
<!-- <ion-content [ngStyle]="{'background': 'url(../assets/bg/4-a.jpg) no-repeat center center / cover'}"> -->
<ion-content style="background-color: #F4E3E3;">
  <div class="main-container">
    <!-- <i class="fa fa-chevron-left" style="color:#2F3542;font-size:28px;-webkit-text-stroke: 1.5px #F3E4E2;"></i> -->
    <img src="../assets/bg/Icon feather-chevron-left.svg" [routerLink]="['/forget-password']">
    <ion-grid>
      <form [formGroup]="resetPassword" novalidate >
        <ion-row style="margin-top: -5px;">
          <ion-col size="12" size-md style="text-align: center;">
            <label style="color: #707070;font-size: 16px;"><b>Change password</b></label>
          </ion-col>
        </ion-row>
        <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-left: 305px;margin-top: 10px; "
          src="../assets/bg/pawprint-1.svg">
        <ion-row style="margin-top: 55px;margin-left: 5px;">
          <ion-col size="12" size-md>
            <label style="color: #707070;font-size: 16px;"><b>New password</b> </label>
          </ion-col>
          <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-left: 190px;margin-top: -15px; "
            src="../assets/bg/pawprint-1.svg">
        </ion-row>
        <ion-row style="margin-left: 10px;margin-top: 6px;">
          <ion-col size="3" size-lg>
            <ion-input type="text" placeholder="" name="a" #a formControlName="num1" (keyup)="moveFocus($event, b, '')" 
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" placeholder="" name="b" #b formControlName="num2" (keyup)="moveFocus($event, c, a)"
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" name="c" #c formControlName="num3" (keyup)="moveFocus($event, d, b)"
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" name="d" #d formControlName="num4" (keyup)="moveFocus($event, '', c,'final')" 
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
        </ion-row>
        <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-left: -25px;margin-top: 10px; "
          src="../assets/bg/pawprint-1.svg">
        <ion-row style="margin-top: 35px;margin-left: 5px;">
          <ion-col size="12" size-md>
            <label style="color: #707070;font-size: 16px;"><b>Confirm password</b> </label>
          </ion-col>
          <img style="transform: rotate(45deg); width: 45px;position: fixed;margin-left: 180px;margin-top: -5px; "
            src="../assets/bg/pawprint-1.svg">
        </ion-row>
        <ion-row style="margin-left: 15px;">
          <ion-col size="3" size-lg>
            <ion-input type="text" placeholder="" name="e" #e formControlName="num5" (keyup)="moveFocus($event, f, '')"
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" placeholder="" name="f" #f formControlName="num6" (keyup)="moveFocus($event, g, e)"
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" name="g" #g formControlName="num7" (keyup)="moveFocus($event, h, f)" 
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
          <ion-col size="3" size-lg>
            <ion-input type="text" name="h" #h formControlName="num8" (keyup)="moveFocus($event, '', g,'final')"
              maxlength="1" class="form-control telclass"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 75px;margin-right: 8px;">
          <ion-col size="12" size-lg style="text-align: center;">

            <!-- <button type="button" class="btn btn-primary" [ngStyle]="{'background': 'url(../assets/bg/4.jpg) no-repeat center center / cover'}" ><span style="margin-top: 20px;color: #2F3542;font-size: 16px;font-family: 'Segoe UI';font-style: bold;"><b>Submit</b></span></button> -->

            <a (click)="enablePass && update()"><img src="../assets/bg/Group 433.svg" ></a>

          </ion-col>
        </ion-row>



      </form>
    </ion-grid>

  </div>

</ion-content>